#knop {
    border: 3px dotted red;
    font-size: 1em;
    width: 100px;
    height: 100px;
}

#images {
    align-items: center;
    align-content: center;
    justify-content: center;
}

img {
    width: 150px;
    height: auto;
    text-align: center;
   
}

figcaption {
    text-align: center;
}

